<navigation></navigation>

<div class="container">
	<div class="row">
		<div class="col-md-6 col-sm-12">
			<p class="lead">Déja membre ? Veuillez vous <a href="/#login?page={{vm.retourAlaPagePrecedente }}">connecter</a> à la place.</p>
			<form ng-submit="vm.envoyerLeFormulaireEnregistrement()">
				<div role="alert" ng-show="vm.erreursDansLeFormulaire" class="alert alert-danger">{{ vm.erreursDansLeFormulaire }}</div>
				<div class="form-group">
					<label for="nom">Nom complet</label>
					<input type="text" class="form-control" id="nom" placeholder="Votre nom" ng-model="vm.informations.nom">
				</div>
				<div class="form-group">
					<label for="email">Email</label>
					<input type="email" class="form-control" id="email" placeholder="Votre email" ng-model="vm.informations.email">
				</div>
				<div class="form-group">
					<label for="password">Password</label>
					<input type="password" class="form-control" id="password" placeholder="Password" ng-model="vm.informations.password">
				</div>
				<button type="submit" class="btn btn-default">Enregistrement!</button>
			</form>
		</div>
	</div>
</div>
