doctype html
html(ng-app='laPlaceApp')
	head
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		title= titre
		link(rel='stylesheet', href='/lib/bootstrap/dist/css/theme.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
	body
		.navbar.navbar-default.navbar-fixed-top
			.container
				.navbar-header
					a.navbar-brand(href='/') laPlace
					button.navbar-toggle(type='button', data-toggle='collapse', data-target='#navbar-main')
						span.icon-bar
						span.icon-bar
						span.icon-bar
				#navbar-main.navbar-collapse.collapse
					ul.nav.navbar-nav
						li
							a(href='#/a-propos/') A propos
						li
							a(href='#/endroits/ajouter/ajout') Ajouter +

		.container
			div(ng-view='')
				block content
			footer
				.row
					.col-xs-12
						small &copy; Poma 2016
		script(src='/lib/angular/angular.min.js')
		script(src='/lib/angular-route/angular-route.js')
		script(src='/javascripts/laPlaceApp.js')
		script(src='app.js')
		script(src='/javascripts/accueil/accueilCtrl.js')
		script(src='/commun/services/laPlaceData.service.js')
		script(src='/commun/services/geolocalisation.service.js')
		script(src='/commun/filtres/distanceFormatee.filter.js')
		script(src='/commun/directives/noteEtoilees/noteEtoilees.directive.js')
		script(src='/lib/jquery/dist/jquery.min.js')
		script(src='/lib/bootstrap/dist/js/bootstrap.min.js')
		script(src='http://cdn.tinymce.com/4/tinymce.min.js')
		script(src='/javascripts/validation.js')
