extends layout
include _includes/fonctionsHTMLpartagee
block content
	#banner.page-header
		.row
			.col-lg-7
				h1= headerDeLaPage.titre
					small &nbsp;#{headerDeLaPage.tagLine}
	.row
		.col-xs-12.col-sm-8(ng-controller="listingAccueilEndroitsCtrl")
			label(for="filtre") &nbsp; Resultat filtré
			input#filtre(type="text", name="filtre", ng-model="texteFiltre")
			.error {{ message }}
			.spinner {{ message }}
			.row.list-group
					.col-xs-12.list-group-item(ng-repeat="endroit in data.endroits | filter: texteFiltre")
						h4
							a(href="/endroits/{{endroit._id}}") {{endroit.nom}}
							small(note-etoilees, note="endroit.note")
							span.badge.pull-right.badge-default {{endroit.distance | formatDistance}}
						p.address {{endroit.adresse}}
						a.pull-right(href="/endroits/editer/{{endroit._id}}") Editer
						p
							span.label.label-warning.label-facility(ng-repeat="service in endroit.services")
								| {{service}} &nbsp;
		.col-xs-12.col-sm-4
			p.lead= sidebar
